// RESET
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

// GENERICS
body {
    font-family: "Work Sans", sans-serif;
}

h1,
h2 {
    font-family: "Playfair Display", serif;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

// UTILS
.container {
    width: 1600px;
    margin: 0 auto;
}

.d-flex {
    display: flex;
}

.ai-center {
    align-items: center;
}

.jc-between {
    justify-content: space-between;
}

.ph-30 {
    padding: 0 30px;
}