@use './partials/variables' as*;

// RESET
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

// GENERICS
body {
    font-family: "Work Sans", sans-serif;
    color: $violet4;
}

h1,
h2 {
    font-family: "Playfair Display", serif;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

// UTILS
.container {
    max-width: 1600px;
    margin: 0 auto;
}

.d-flex {
    display: flex;
}

.ai-center {
    align-items: center;
}

.jc-between {
    justify-content: space-between;
}

.jc-around {
    justify-content: space-around;
}

.jc-center {
    justify-content: center;
}

.ph-30 {
    padding-left: 30px;
    padding-right: 30px;
}

.p-30 {
    padding: 30px;
}

.pb-30 {
    padding-bottom: 30px;
}

.ml-450 {
    margin-left: 450px;
}

.mv-section {
    margin-top: 100px;
    margin-bottom: 100px;
}

.bg-dark {
    background-color: rgba($color: #000000, $alpha: 0.6);
}